.dashboard-secretaria {
  padding: 20px;
  background-color: #f4f6f8;
  font-family: 'Segoe UI', sans-serif;
}

.encabezado h1 {
  margin: 0;
  font-size: 28px;
  color: #333;
}

.encabezado p {
  color: #777;
  margin-bottom: 20px;
}

.seccion-central,
.seccion-inferior {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}
