.barra-lateral {
  background-color: #0d85fd;
  color: rgb(15, 14, 14);
  position: fixed;
  width: 250px;
  height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
  transition: width 0.3s ease;
}

.barra-lateral.colapsada {
  width: 70px;
}

.toggle-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1100;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: rgb(16, 15, 15);
  cursor: pointer;
}

/* Botones centrados cuando está colapsado */
.sidebar-btn.centrado {
  justify-content: center !important;
}

/* Avatar 👤 redondo */
.avatar-colapsado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 0 auto 1rem auto;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 1.6rem;
  color: rgb(19, 19, 19);
  background-color: rgba(9, 9, 9, 0.15);
}
