.contenedor-pasos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.paso {
  text-align: center;
  color: #6b7280;
}

.paso .numero {
  background-color: #e5e7eb;
  color: #4b5563;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  margin: 0 auto 5px;
  font-weight: bold;
}

.paso.activo .numero {
  background-color: #4f46e5;
  color: white;
}

.paso.activo .texto {
  font-weight: bold;
  color: #111827;
}
