.contenedor-secretaria {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.encabezado-secretaria {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: #343a40;
}

.formulario-secretaria {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.boton-secretaria {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-secretaria:hover {
  background: #0056b3;
}

/*Formulario*/
.contenedor-formulario {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.boton-formulario {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.boton-formulario:hover {
  background: #0056b3;
}