.tipo-usuario {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.tipo-usuario input[type="radio"] {
  display: none;
}

.tipo-usuario label {
  padding: 15px 20px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  flex: 1;
  margin: 0 5px;
}

.tipo-usuario input[type="radio"]:checked + label {
  background-color: #eef2ff;
  border-color: #4f46e5;
  color: #4f46e5;
  font-weight: bold;
}
